body {
  background-color: #4ac06b;
}

#main_div {
  /*background-color: #F5F5DC;*/
  /*padding: 20px*/
  overflow:scroll;
  white-space: nowrap;
}

.task_li input {
  background-color: #F5F5DC;
  /*color: #000;*/
}

.remove_task {
  border-style: solid;
  border-width: 2px;
  background-color: #FF1493;
  vertical-align: top;
}

.remove_group {
  border-style: solid;
  border-width: 2px;
  background-color: #FF1493;
}

.group_ul {
  border-style: solid;
  border-width: 5px;
  background-color: #dfe3e6;
  /*width: 350px;*/
  list-style: none;
  max-height: 800px;
  overflow: auto;
}

.task_input {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 80px;
  width: 200px;
  resize: none;
  overflow-y: scroll;
}

.task_initializer, .group_input {
  width: 200px;
}

.div_for_group {
  width: 500px;
  overflow-y: hidden;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  /*font-size: 12px;*/
}

.tasks_ul {
  list-style: none;
  min-height: 30px;
}

.task_li {
  margin-left: -40px;
}
